<!--? Preloader Start -->

<!-- Preloader Start -->
<app-navbar> </app-navbar>
<main>
  <!--? Hero Start -->
  <div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2>All Courses</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->
  <!-- all-course Start -->
  <section class="all-course section-padding30">
    <div class="container">
      <div class="row">
        <div class="all-course-wrapper">
          <!-- Heading & Nav Button -->
          <div class="row mb-15">
            <div class="col-lg-12">
              <div class="properties__button mb-90">
                <!--Nav Button  -->
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                      aria-controls="nav-home" aria-selected="true">All</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                      aria-controls="nav-profile" aria-selected="false">Web</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                      aria-controls="nav-contact" aria-selected="false">Graphic</a>
                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab"
                      aria-controls="nav-contact" aria-selected="false">Video</a>
                    <a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport" role="tab"
                      aria-controls="nav-contact" aria-selected="false">Language</a>
                  </div>
                </nav>
                <!--End Nav Button  -->
              </div>
            </div>
          </div>
          <!-- Tab content -->
          <div class="row">
            <div class="col-12">
              <!-- Nav Card -->
              <div class="tab-content" id="nav-tabContent">
                <!--  one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6"  *ngFor=" let course of courseslist">
                      <!-- Single course -->
                      <div class="single-course mb-70">
                        <div class="course-img">
                          <img src="{{course.imageUrl}}" alt="">
                        </div>
                        <div class="course-caption">
                          <div class="course-cap-top">
                            <h4><a href="#">{{course.name}}</a></h4>
                          </div>
                          <div class="course-cap-mid d-flex justify-content-between">
                      
                            <ul>
                              <li>{{course.description}}</li>
                            </ul>
                          </div>
                          <div class="course-cap-bottom d-flex justify-content-between">
                            <ul>
                              <li><i class="ti-user"></i> 10</li>
                              <li><i class="ti-heart"></i> 120</li>
                            </ul>
                         
                          </div>
                          <button  (click)="enroll(course.lessons[0])"  style="width: 100%;" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">view course</button>
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
              <!-- End Nav Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- all-course End -->
</main>

<footer>
  <!--? Footer Start-->
  <div class="footer-area footer-bg">
      <div class="container">
          <div class="footer-top footer-padding">
              <!-- footer Heading -->
              <div class="footer-heading">
                  <div class="row justify-content-between">
                      <div class="col-xl-6 col-lg-7 col-md-10">
                          <div class="footer-tittle2">
                              <h4>Stay Updated</h4>
                          </div>
                          <!-- Form -->
                          <div class="footer-form mb-50">
                              <div id="mc_embed_signup">
                                  <form target="_blank"
                                      action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                      method="get" class="subscribe_form relative mail_part" novalidate="true">
                                      <input type="email" name="EMAIL" id="newsletter-form-email"
                                          placeholder=" Email Address " class="placeholder hide-on-focus"
                                          onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = 'Your email address'">
                                      <div class="form-icon">
                                          <button type="submit" name="submit" id="newsletter-submit"
                                              class="email_icon newsletter-submit button-contactForm">
                                              Subscribe Now
                                          </button>
                                      </div>
                                      <div class="mt-10 info"></div>
                                  </form>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-5 col-lg-5">
                          <div class="footer-tittle2">
                              <h4>Let’s Get Social</h4>
                          </div>
                          <!-- Footer Social -->
                          <div class="footer-social">
                              <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-google"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                              <a href="#"><i class="fab fa-youtube"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer Menu -->
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>About Us</h4>
                              <ul>
                                  <li><a href="#">Online Learning</a></li>
                                  <li><a href="#">About Us</a></li>
                                  <li><a href="#">Careers</a></li>
                                  <li><a href="#">Press Center</a></li>
                                  <li><a href="#">Become an Instructor</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                      >
                  </div>
                
                
              </div>
          </div>
          <!-- Footer Bottom -->
          <div class="footer-bottom">
              <div class="row d-flex align-items-center">
                  <div class="col-lg-12">
                      <div class="footer-copy-right text-center">
                          <p>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;
                              <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                              template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                  href="https://colorlib.com" target="_blank">Colorlib</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>





<!--

<div class="java-container "  *ngFor=" let course of courseslist" >

  <div class=" card">
  <img src="{{course.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">  {{course.name}} </p>


    <p class="card-text details">description : {{course.description}}</p>
    <h3 class="card-text details">price : {{course.price}} $</h3>
    <p class="card-text details ">Tutor : {{course.nomtuteur}} </p>
  </div>
  <a style="margin-bottom: 3px;" href="computer_science/c++/description_learninglad.php" class="btn btn-primary"
    target="_blank">View
    Description !</a>
  <a href="computer_science/c++/computer_science_c++_learninglad.php" class="btn btn-primary">View Course !</a>
</div>




<div class="card">
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Learn C++ Programming | Video Tutorial for Beginners</p>


    <p class="card-text details">description : FormationVidéo</p>
    <h3 class="card-text details">price : 200 $</h3>
    <p class="card-text details ">Tutor : thenewboston </p>
  </div>
  <a style="margin-bottom: 3px;" href="computer_science/c++/description_learninglad.php" class="btn btn-primary"
    target="_blank">View
    Description !</a>
  <a href="computer_science/c++/computer_science_c++_learninglad.php" class="btn btn-primary">View Course !</a>
</div>


</div>

-->