<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Espace Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a  [routerLink]="['/dashboard']" class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a *ngIf="IsAdmin" [routerLink]="['/consult-tuteurs']" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
           
            <i class="fas fa-user-tie"></i> <span>Consulter tuteurs</span>
        </a>
       
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a  *ngIf="IsAdmin"  [routerLink]="['/consult-leaners']"  class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-users"></i>
            <span>Consulter apprenants</span>
        </a>
        
    </li>


    <li class="nav-item">
        <a  *ngIf="IsAdmin||Istuteur"  [routerLink]="['/consult-courses']" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecourses"
            aria-expanded="true" aria-controls="collapsecourses">
            <i class="fas fa-chalkboard"></i>
            <span>Gestion course</span>
        </a>
     
    </li>


    <li class="nav-item">
        <a   *ngIf="IsAdmin||Istuteur"  [routerLink]="['/choisir-lesson']" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselesson"
            aria-expanded="true" aria-controls="collapsecourses">
            <i class="fas fa-book"></i>
            <span>Gestion lesson</span>
        </a>
    
    </li>

    <li class="nav-item">
        <a   *ngIf="IsClient"  [routerLink]="['/choisir-lesson']" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselesson"
            aria-expanded="true" aria-controls="collapsecourses">
            <i class="fas fa-dollar-sign"></i>
            <span>My courses</span>
        </a>
    
    </li>
    <li class="nav-item">
        <a   *ngIf="Istuteur"  [routerLink]="['/mycourse']" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselesson"
            aria-expanded="true" aria-controls="collapsecourses">
            <i class="fas fa-dollar-sign"></i>
            <span>My courses</span>
        </a>
    
    </li>

   





    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->


</ul>